// hero styles

.hero {
    color: $vb-light;
    width: 100%;
    height: 100vh;
    padding: 20vh 16px;

    a {
        text-decoration: none;
        color: $vb-light;
        font-weight: bold;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $vb-light;
            background-color: $vb-primary;
        }
    }

}


@include mq($until: mobile) {
    // hero styles

}


// Apply styling up to devices smaller than tablets (exclude tablets)
@include mq($from: mobile, $until: tablet) {

}


// Same thing, in landscape orientation
@include mq($until: tablet, $and: "(orientation: landscape)") {
    nav {}
}


// Apply styling to tablets up to desktop (exclude desktop)
@include mq(desktop) {
    nav {}
}