html,
body {
    padding: 0;
    margin: 0;
    font-size: 1.5em;

    /* 1 */
    -webkit-text-size-adjust: 1.5em;

    /* 2 */
    -ms-text-size-adjust: 1.5em;

    /* 2 */
    background-color: $vb-grey;
    height: 100%;
    min-height: 100%;
    font-family: $vb-body-font-family;
    font-weight: $font-light;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    webkit-tap-highlight-color: transparentize($vb-light, 0.8);
    position: relative;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

*:focus {
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-moz-selection {
    text-shadow: none;
    background: $vb-secondary;
    color: $vb-light;
    background-color: none;
}

::selection {
    text-shadow: none;
    background: $vb-secondary;
    color: $vb-light;
    background-color: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.noscriptmsg {
    display: none;
}

.thin {
    font-weight: $font-light;
}

.bold {
    font-weight: $font-bold;
}

.iframe {
    transform: scale(1) translate(0%, 0%);
    height: 900px;
}

.iframe-container {
    display: inherit;
}

//>1200px
@media (min-width: $break-large) {
    .mobile-hide {
        display: initial;
    }

    .mobile-show {
        display: none;
    }
}

@media (min-width: $break-large) {
    .iframe-container {
        display: inherit;
    }
}

@media (min-width: $break-large) {
    .iframe {
        transform: scale(0.9) translate(40%, 0%);
        height: 900px;
    }
}

//1200px< & >767px
@media (max-width: $break-large) and (min-width: $break-medium) {
    .mobile-hide {
        display: initial;
    }

    .mobile-show {
        display: none;
    }

    .iframe {
        transform: scale(0.75) translate(0%, 0%);
        height: 900px;
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: initial;
    }

    .iframe {
        transform: scale(0.5) translate(0%, 0%);
        height: 900px;
    }

    .iframe-container {
        display: none;
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: initial;
    }

    .iframe {
        transform: scale(0.5) translate(-35%, -25%);
        height: 900px;
        position: relative;
        top: 96px;
    }

    .iframe-container {
        display: none;
    }
}

//320px<
@media (max-width: $break-tiny) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: initial;
    }

    .iframe {
        transform: scale(0.5) translate(-40%, -25%);
        height: 900px;
        position: relative;
        top: 96px;
    }

    .iframe-container {
        display: none;
    }
}