html,
body {
    padding: 0;
    margin: 0;
    font-size: 1.5em;

    /* 1 */
    -webkit-text-size-adjust: 1.5em;

    /* 2 */
    -ms-text-size-adjust: 1.5em;

    /* 2 */
    background-color: $vb-grey;
    height: 100%;
    min-height: 100%;
    font-family: $vb-body-font-family;
    font-weight: $font-light;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    webkit-tap-highlight-color: transparentize($vb-light, 0.8);
    position: relative;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

*:focus {
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

::-moz-selection {
    text-shadow: none;
    background: $vb-secondary;
    color: $vb-light;
    background-color: none;
}

::selection {
    text-shadow: none;
    background: $vb-secondary;
    color: $vb-light;
    background-color: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.noscriptmsg {
    display: none;
}


@media (min-width: $break-huge) {
    .desktop {
        display: initial;
    }

    .mobile {
        display: none;
    }
    .mobile-hide {
        display: initial;
    }

    .mobile-show {
        display: none;
    }
}

//2500px< & >1200px
@media (max-width: $break-huge) and (min-width: $break-large) {
    .desktop {
        display: initial;
    }

    .mobile {
        display: none;
    }

    .mobile-hide {
        display: initial;
    }

    .mobile-show {
        display: none;
    }
}

//1280px< & >900px
@media (max-width: $break-large) and (min-width: $break-big) {
    .desktop {
        display: initial;
    }

    .mobile {
        display: none;
    }

    .mobile-hide {
        display: initial;
    }

    .mobile-show {
        display: none;
    }
}

//960< & >767px
@media (max-width: $break-big) and (min-width: $break-medium) {
    .desktop {
        display: initial;
    }

    .mobile {
        display: none;
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: initial;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: initial;
    }
}

//320px<
@media (max-width: $break-tiny) {
    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: initial;
    }
}