html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    font-family: $vb-body-font-family;
    font-weight: $font-light;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;

    &:before, &:after {
        content: '';
        content: none;
    }
}

blockquote {
    margin: 8px 0 8px 0;
    padding: 8px 0 8px 0;
    font-style: italic;
    border-left: 4px solid $vb-grey;
    padding-left: 16px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

small {
    font-size: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

p {
    margin: 0;
    padding: 8px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    font-weight: $font-bold;

    small {
        display: block;
        line-height: 1.5;
        font-size: 50%;
        font-weight: $font-light;
        color: inherit;
    }
}

h1 {
    font-size: $base-h1-size;
    padding: 16px 0;
}

h2 {
    font-size: $base-h2-size;
    padding: 8px 0;
}

h3 {
    font-size: $base-h3-size;
    padding: 8px 0;
}

h4 {
    font-size: $base-h4-size;
    padding: 4px 0;
}

h5 {
    font-size: $base-h5-size;
    padding: 4px 0;
}

h6 {
    font-size: $base-h6-size;
}

label {
    font-size: 18px;
    font-weight: $font-light;
    padding-bottom: 2px;
}

a {
    text-decoration: underline;
    color: $vb-primary;
    font-weight: 400;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $vb-light;
        background-color: $vb-primary;
    }

    &:active {
        text-decoration: none;
        color: $vb-light;
        background-color: $vb-secondary;
    }
}

ul {
    margin: 0;
}



b {
    font-weight: $font-semi-bold;
    font-style: bold;
}

i {
    font-style: italic;
}

li {
    list-style-type: none;
    padding:4px 0;
}

strong {
    font-style: bold;
    font-weight: $font-bold;
}

.font-secondary {
    font-family: $vb-secondary-font-family;
    font-weight: $font-light;
}

.center-justified {
    text-align: center;
}

.light {
    font-weight: $font-light;
}

.align-right {
    text-align: right;
}

.subtitle {
    font-size: $middle-font-size;
    padding: 16px 0;
    margin: 0;
    width: auto;
    font-weight: $font-light;
    font-style: italic;
}

.highlight {
    font-weight: $font-semi-bold;
    padding-bottom: 4px;

    &:hover,
    &:focus {
        box-shadow: 8px 0 0 $vb-primary, -8px 0 0 $vb-primary;
        color: $vb-light;
        text-decoration: none;
        background-color: $vb-primary;
    }
}

a {
    .gallery-image {
        color: $vb-primary;

        &:hover,
        &:focus {
            color: $vb-light;
            background-color: $vb-primary;
        }

        &:active {
            color: $vb-light;
            background-color: $vb-secondary;
        }
    }
}

.text-center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.justify-text {
    text-align: justify;
}

.label {
    @include border-radius(0);

    font-family: $vb-body-font-family;
    font-weight: 200;
}

.secondary-container {
    font-size: $middle-font-size;
    font-weight: $font-light;
    background-color: $vb-grey;
    color: $vb-light;
    padding: 32px;
}

.paragraph-container, .paragraph-container--unpadded {
    padding: 64px 0;

    .m6, .m12, .m4, .m3 {
        padding: 16px;
    }

    img {
        padding: 16px 0;
    }

    .sub-container {
        padding-bottom: 32px;

        li {
            padding-left: 8px;
        }
    }

    .font-family_opensans {
        padding-top: 32px;
        font-family: $vb-body-font-opensans;
        font-weight: $font-semi-bold;
        font-size: $base-h2-size;
        line-height: $base-line-height;
    }
}

.paragraph-container, .paragraph-container--unpadded--unpadded {
    .m6, .m12, .m4, .m3 {
        padding: 32px;
    }

    padding: 0 0 64px 0;
}

.text-container {
    line-height: $base-line-height;
}

.align-right {
    text-align: right;
}

.paragraph-container, .paragraph-container--unpadded {
    p {
        padding: 8px 0;
    }
}

@media (min-width: $break-huge) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: center;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 32px;
        }

        padding: 0 0 64px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-font-size;
            line-height: $base-line-height;
        }
    }

    .text-block {
        padding: 32px 0;
    }

    .text-block > ul > li {
        padding-bottom: 16px;
    }

    .text-container {
        padding: 32px;
        width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.25;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-huge) and (min-width: $break-large) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: center;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 32px;
        }

        padding: 0 0 64px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-h2-size;
            line-height: $base-line-height;
        }
    }

    .text-block {
        padding: 32px 0;
    }

    .text-block > ul > li {
        padding-bottom: 16px;
    }

    .text-container {
        padding: 32px;
        width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.25;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-large) and (min-width: $break-big) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: center;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 32px;
        }

        padding: 0 0 64px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-h2-size;
            line-height: $base-line-height;
        }
    }

    .text-container {
        padding: 32px;
        width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }

    .text-block {
        padding: 32px 0;
    }

    .text-block > ul > li {
        padding-bottom: 16px;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.25;
        line-height: $base-line-height;
    }
}

//991px< & >767px
@media (max-width: $break-big) and (min-width: $break-medium) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: center;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 16px;
        }

        padding: 0 0 32px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-h2-size;
            line-height: $base-line-height;
        }
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .text-container {
        padding: 32px;
        max-width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.25;
        line-height: $base-line-height;
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }

    h1 {
        font-size: $mobile-h1-size;
    }

    h2 {
        font-size: $mobile-h2-size;
    }

    h3 {
        font-size: $mobile-h3-size;
    }

    h4 {
        font-size: $mobile-h4-size;
    }

    h5 {
        font-size: $mobile-h5-size;
    }

    h6 {
        font-size: $mobile-h6-size;
    }

    .title {
        margin: 0;
        padding-bottom: 32px;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: left;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 16px;
        }

        padding: 0 0 64px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-h2-size;
            line-height: $base-line-height;
        }
    }

    .paragraph-container, .paragraph-container--unpadded {
        padding: 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .text-container {
        font-size: $base-font-size;
        padding: 32px;

        .m6 {
            padding-right: 16px;
        }
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }

    h1 {
        font-size: $mobile-h1-size;
    }

    h2 {
        font-size: $mobile-h2-size;
    }

    h3 {
        font-size: $mobile-h3-size;
    }

    h4 {
        font-size: $mobile-h4-size;
    }

    h5 {
        font-size: $mobile-h5-size;
    }

    h6 {
        font-size: $mobile-h6-size;
    }

    li {
        padding:2px 0;
    }

    .title {
        margin: 0;
        padding-bottom: 32px;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: left;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 16px 0;
        }

        padding: 0 0 32px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-h2-size;
            line-height: $base-line-height;
        }
    }

    .paragraph-container, .paragraph-container--unpadded {
        padding: 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $base-line-height;
    }

    .text-container {
        font-size: $mobile-font-size;
        width: 90%;
        padding: 32px 0;

        .m6 {
            padding-right: 16px;
        }
    }
}

//320px<
@media (max-width: $break-tiny) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }

    h1 {
        font-size: $mobile-h1-size;
    }

    h2 {
        font-size: $mobile-h2-size;
    }

    h3 {
        font-size: $mobile-h3-size;
    }

    h4 {
        font-size: $mobile-h4-size;
    }

    h5 {
        font-size: $mobile-h5-size;
    }

    h6 {
        font-size: $mobile-h6-size;
    }

    li {
        padding:2px 0;
    }

    .title {
        margin: 0;
        padding: 0px;
    }

    .image_text {
        font-size: $middle-font-size;
        font-weight: $font-light;
        font-style: italic;
        color: grey;
        text-align: left;
    }

    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4, .m3 {
            padding: 16px 0;
        }

        padding: 0 0 32px 0;

        .font-family_opensans {
            padding-top: 32px;
            font-family: $vb-body-font-opensans;
            font-weight: $font-semi-bold;
            font-size: $base-h2-size;
            line-height: $base-line-height;
        }
    }

    .paragraph-container, .paragraph-container--unpadded {
        padding: 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .text-container {
        font-size: $mobile-font-size;
        width: 90%;
        padding: 32px 0;

        .m6 {
            padding-right: 16px;
        }
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $base-line-height;
    }
}