@media (min-width: $break-huge) {
    #resume_container {
        color: $vb-grey;
        background-color: #ebf5ff;

        .title {
            padding-bottom: 32px;
        }

        .row {
            margin: 64px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: left;

            ul {
                li.sub-text {
                    font-size: 0.8em;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.7em;
                    color: $vb-light-grey;
                }
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}

@media (max-width: $break-huge) and (min-width: $break-large) {
    #resume_container {
        color: $vb-grey;
        background-color: #ebf5ff;

        .title {
            padding-bottom: 32px;
        }

        .row {
            margin: 64px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: left;

            ul {
                li.sub-text {
                    font-size: 0.8em;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.7em;
                    color: $vb-light-grey;
                }
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}

@media (max-width: $break-large) and (min-width: $break-big) {
    #resume_container {
        color: $vb-grey;
        background-color: #ebf5ff;

        .title {
            padding-bottom: 32px;
        }

        .row {
            margin: 64px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: left;

            ul {
                li.sub-text {
                    font-size: 0.8em;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.7em;
                    color: $vb-light-grey;
                }
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}

//991px< & >767px
@media (max-width: $break-big) and (min-width: $break-medium) {
    #resume_container {
        color: $vb-grey;
        background-color: #ebf5ff;

        h3 {
            margin: 8px 0;
        }

        li {
            padding: 4px 0;
        }

        .text-container {
            padding: 32px;
            margin: auto;
        }

        .row {
            margin: 64px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: left;

            ul {
                margin: 0;

                li.sub-text {
                    font-size: 0.9em;
                    padding-bottom: 16px;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.7em;
                    color: $vb-light-grey;
                }
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    #resume_container {
        h3 {
            margin: 8px 0;
        }

        li {
            padding: 4px 0;
        }

        .text-container {
            padding-top: 16px;
            padding-bottom: 32px;
            margin: auto;
        }

        .title {
            ul li {
                position: static;
                min-width: 256px;
                max-width: 512px;
                display: block;
                margin: 0 auto;
            }
        }

        color: $vb-grey;
        background-color: #ebf5ff;

        .row {
            margin: 32px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: right;

            ul {
                li.sub-text {
                    font-size: 1em;
                    padding-bottom: 16px;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.9em;
                    color: $vb-light-grey;
                }

                margin: 0;
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    #resume_container {
        h3 {
            margin: 8px 0;
        }

        li {
            padding: 4px 0;
        }

        .text-container {
            padding-top: 16px;
            padding-bottom: 32px;
            margin: auto;
        }

        color: $vb-grey;
        background-color: #ebf5ff;

        .row {
            margin: 32px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: right;

            ul {
                li.sub-text {
                    font-size: 1em;
                    padding-bottom: 16px;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.9em;
                    color: $vb-light-grey;
                }

                margin: 0;
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}

//320px<
@media (max-width: $break-tiny) {
    #resume_container {
        h3 {
            margin: 8px 0;
        }

        li {
            padding: 4px 0;
        }

        .text-container {
            padding-top: 16px;
            padding-bottom: 32px;
            margin: auto;
        }

        color: $vb-grey;
        background-color: #ebf5ff;

        .row {
            margin: 32px 0;
        }

        .upper-space {
            margin-top: 32px;
        }



        .sub-title {
            color: $vb-light-grey;
        }

        .side-text {
            font-size: 0.9em;
            color: $vb-very-light-grey;
        }

        .small-title {
            text-align: right;

            ul {
                li.sub-text {
                    font-size: 0.8em;
                    padding-bottom: 16px;
                }

                li.micro-text {
                    font-style: italic;
                    font-size: 0.7em;
                    color: $vb-light-grey;
                }

                margin: 0;
            }
        }

        img {
            max-width: 512px;
            max-height: 103px;
            width: 100%;
            height: 100%;
        }
    }

    .division-line {
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px $vb-light-grey solid;
            height: 100%;
            width: 100%;

            @include transform(translateY(-45%));
        }
    }
}