@media (min-width: $break-huge) {

    .data-nav {
        .options-button {
            @include border-radius(0);

            margin: 0;
            height: 48px;
            background-color: $vb-grey;
            border: solid $vb-grey;
            color: #fff;
            padding: 8px;
            font-weight: 300;
            float: left;

            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }

            display: none;
        }

        .data-button {
            display: inherit;
        }

        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
}

//2500px< & >1200px
@media (max-width: $break-huge) and (min-width: $break-large) {

    .data-nav {
        .options-button {
            @include border-radius(0);

            margin: 0;
            height: 48px;
            background-color: $vb-grey;
            border: solid $vb-grey;
            color: #fff;
            padding: 8px;
            font-weight: 300;
            float: left;

            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }

            display: none;
        }

        .data-button {
            display: inherit;
        }

        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }

}

//1200px< & >767px
@media (max-width: $break-large) and (min-width: 815px) {

    .data-nav {
        .options-button {
            @include border-radius(0);

            margin: 0;
            height: 48px;
            background-color: $vb-grey;
            border: solid $vb-grey;
            color: #fff;
            padding: 8px;
            font-weight: 300;
            font-size: 11px;
            float: left;

            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }

            display: none;
        }

        .data-button {
            display: inherit;
        }

        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }

}

//767px< & >480px
@media (max-width: 815px) and (min-width: $break-small) {

    .data-nav {
        .options-button {
            @include border-radius(0);

            margin: 0;
            height: 48px;
            background-color: $vb-grey;
            margin: 4px 0;
            color: #fff;
            padding: 8px;
            font-weight: 300;
            float: left;

            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }

            display: inherit;
        }

        .data-button {}

        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }

}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {

    .data-nav {
        .options-button {
            display: inherit;

            @include border-radius(0);

            margin: 0;
            height: 48px;
            background-color: $vb-grey;
            margin: 4px 0;
            width: 100%;
            color: #fff;
            padding: 8px;
            font-weight: 300;
            float: left;

            &:hover,
            &:focus {
                color: $vb-light;
                background-color: $vb-primary;
            }
        }

        .data-button {}

        .active {
            color: $vb-light;
            background-color: $vb-primary;
        }
    }
}

//320px<
@media (max-width: $break-tiny) {


    .vb-btn-submit {
        background-color: $vb-primary;
        position: relative;
        overflow: hidden;
        border: solid 2px $vb-primary;
        padding: 0 64px;
        font-size: 22px;
        width: 100%;
        height: 64px;
        cursor: pointer;
        color: $vb-light;

        @include border-radius(0);

        &:hover {
            color: $vb-primary;
            background-color: transparent;
        }

        &:active,
        &:focus {
            color: $vb-light;
            background-color: $vb-secondary;
            border: solid 2px $vb-secondary;
        }
    }
}