.upper-case {
    text-transform: uppercase;
}

.page-header {
    margin: 0 0 16px 0;
    border-bottom: 1px solid $vb-grey;
}

.emphasis {
    font-weight: $font-semi-bold;
    color: #fff;
}

.center-justified {
    text-align: center;
}

li#center-justified {
    text-align: center;
}

li#left-justified {
    text-align: justified-left;
}

strong {
    font-style: bold;
    font-weight: $font-bold;
}

b {
    font-weight: $font-semi-bold;
    font-style: bold;
}

.semi-bold {
    font-weight: $font-semi-bold;
}

.light {
    font-weight: $font-light;
}

.text-right{
    text-align: right;
}

i {
    font-style: italic;
}

.subtitle {
    font-size: $middle-font-size;
    padding: 16px 0;
    margin: 0;
    width: auto;
    font-weight: $font-light;
}

.highlight {
    font-weight: $font-semi-bold;
    padding-bottom: 4px;

    &:hover,
    &:focus {
        box-shadow: 8px 0 0 $vb-primary, -8px 0 0 $vb-primary;
        color: $vb-light;
        text-decoration: none;
        background-color: $vb-primary;
    }
}

@media (min-width: $break-huge) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }
}

@media (max-width: $break-huge) and (min-width: $break-large) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }
}

@media (max-width: $break-large) and (min-width: $break-big) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }
}

//991px< & >767px
@media (max-width: $break-big) and (min-width: $break-medium) {
    .title {
        margin: 0;
        padding-bottom: 0;
    }
}

//767px< & >480px
@media (max-width: $break-medium) and (min-width: $break-small) {
    h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }

    h0 {
        font-size: $mobile-h0-size;
    }

    h1 {
        font-size: $mobile-h1-size;
    }

    h2 {
        font-size: $mobile-h2-size;
    }

    h3 {
        font-size: $mobile-h3-size;
    }

    h4 {
        font-size: $mobile-h4-size;
    }

    h5 {
        font-size: $mobile-h5-size;
    }

    h6 {
        font-size: $mobile-h6-size;
    }

    .title {
        margin: 0;
        padding: 0px;
    }
}

//480px< & >320px
@media (max-width: $break-small) and (min-width: $break-tiny) {
    h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }

    h0 {
        font-size: $mobile-h0-size;
    }

    h1 {
        font-size: $mobile-h1-size;
    }

    h2 {
        font-size: $mobile-h2-size;
    }

    h3 {
        font-size: $mobile-h3-size;
    }

    h4 {
        font-size: $mobile-h4-size;
    }

    h5 {
        font-size: $mobile-h5-size;
    }

    h6 {
        font-size: $mobile-h6-size;
    }

    .title {
        margin: 0;
        padding: 0px;
    }
}

//320px<
@media (max-width: $break-tiny) {
    h0,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        small {
            display: block;
            line-height: 1.5;
            font-size: 65%;
            font-weight: $font-light;
            color: inherit;
        }
    }

    h0 {
        font-size: $mobile-h0-size;
    }

    h1 {
        font-size: $mobile-h1-size;
    }

    h2 {
        font-size: $mobile-h2-size;
    }

    h3 {
        font-size: $mobile-h3-size;
    }

    h4 {
        font-size: $mobile-h4-size;
    }

    h5 {
        font-size: $mobile-h5-size;
    }

    h6 {
        font-size: $mobile-h6-size;
    }

    .title {
        margin: 0;
        padding: 0px;
    }
}

blockquote {
    font-style: italic;
    border-left: 4px solid $vb-grey;
    padding-left: 16px;

    footer {
        padding: 0;
        height: auto;
    }
}

.label {
    @include border-radius(0);

    font-family: $vb-body-font-family;
    font-weight: 200;
}

.secondary-container {
    font-size: $middle-font-size;
    font-weight: $font-light;
    background-color: $vb-grey;
    color: $vb-light;
    padding: 32px;
}

.paragraph-container, .paragraph-container--unpadded {
    padding: 64px 0;

    .m6, .m12, .m4 {
        padding: 16px;
    }

    img {
        padding: 16px 0;
    }

    .sub-container {
        padding-bottom: 32px;

        li {
            padding-left: 8px;
        }
    }
}

.paragraph-container, .paragraph-container--unpadded--unpadded {
    .m6, .m12, .m4 {
        padding: 32px;
    }

    padding: 0 0 64px 0;
}

.text-container {
    line-height: $base-line-height;
}

.align-right {
    text-align: right;
}

.paragraph-container, .paragraph-container--unpadded {
    p {
        padding: 8px 0;
    }
}

@media (min-width: $break-huge) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 64px 0;
    }

    .text-block {
        padding: 32px 0;
    }

    .text-block > ul > li {
        padding-bottom: 16px;
    }

    .text-container {
        padding: 32px;
        width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }


    .jumbo-text {
        padding: 64px;
        font-weight: $font-bold;
        font-size: $base-jumbo-size;
        text-align: left;

        // width: 900px;
        margin: 0 auto;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.5;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-huge) and (min-width: $break-large) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 64px 0;
    }

    .text-block {
        padding: 32px 0;
    }

    .text-block > ul > li {
        padding-bottom: 16px;
    }

    .text-container {
        padding: 32px;
        width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }


    .jumbo-text {
        padding: 64px;
        font-weight: $font-bold;
        font-size: $base-jumbo-size;
        text-align: left;

        // width: 900px;
        margin: 0 auto;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.5;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-large) and (min-width: $break-big) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 64px 0;
    }

    .text-container {
        padding: 32px;
        width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }

    .text-block {
        padding: 32px 0;
    }

    .text-block > ul > li {
        padding-bottom: 16px;
    }


    .jumbo-text {
        padding: 32px;
        font-weight: $font-bold;
        font-size: $base-jumbo-size;
        text-align: left;

        // width: 642px;
        margin: 0 auto;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.5;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-big) and (min-width: $break-medium) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .text-container {
        padding: 32px;
        max-width: 900px;
        margin: auto;

        .m6 {
            padding-right: 16px;
        }
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .jumbo-text {
        padding: 32px;
        font-weight: $font-bold;
        font-size: $base-h0-size;
        text-align: left;

        // width: 428px;
        margin: 0 auto;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size / 1.25;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-medium) and (min-width: $break-small) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 64px 0;
    }

    .paragraph-container, .paragraph-container--unpadded {
        padding: 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .text-container {
        font-size: $base-font-size;
        padding: 32px;

        .m6 {
            padding-right: 16px;
        }
    }

    .jumbo-text {
        padding: 32px;
        font-weight: $font-bold;
        font-size: $mobile-h0-size;
        text-align: left;

        // width: 428px;
        margin: 0 auto;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}

@media (max-width: $break-small) and (min-width: $break-tiny) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 32px 0;
    }

    .paragraph-container, .paragraph-container--unpadded {
        padding: 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $base-line-height;
    }

    .jumbo-text {
        padding: 16px;
        font-weight: $font-bold;
        font-size: $mobile-h0-size;
        text-align: left;

        // width: 298px;
        margin: 0 auto;
    }

    .text-container {
        font-size: $mobile-font-size;
        width: 90%;
        padding: 32px 0;

        .m6 {
            padding-right: 16px;
        }
    }
}

@media (max-width: $break-tiny) {
    .paragraph-container, .paragraph-container--unpadded--unpadded {
        .m6, .m12, .m4 {
            padding: 32px;
        }

        padding: 0 0 32px 0;
    }

    .paragraph-container, .paragraph-container--unpadded {
        padding: 32px 0;
    }

    .text-block {
        padding: 16px 0;
    }

    .text-block > ul > li {
        padding-bottom: 8px;
    }

    .text-container {
        font-size: $mobile-font-size;
        width: 90%;
        padding: 32px 0;

        .m6 {
            padding-right: 16px;
        }
    }

    .jumbo-text {
        padding: 16px;
        font-weight: $font-bold;
        font-size: $mobile-h0-size;
        text-align: left;

        // width: 298px;
        margin: 0 auto;
    }

    .gallery-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $font-semi-bold-line-height;
    }

    .document-text {
        font-weight: $font-light;
        font-size: $mobile-font-size;
        line-height: $base-line-height;
    }
}