<!-- Footer -->
<section class="text-block foot">
  <article>
    <ul class="socialContainer">
      <a id="follow-button" class="vb-btn-icon " title="Follow @pedrobjorn on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalh…rc=twsrc%5Etfw&region=follow_link&screen_name=pedrobjorn&tw_p=followbutton">
        <img src="../../img/icons/twitter_icon_64.jpg" alt="Smiley face" width="48px" height="48px">
      </a>
      <a href="https://www.behance.net/visualbear" class="vb-btn-icon ">
        <img src="../../img/icons/behance_icon_64.jpg" alt="Smiley face" width="48px" height="48px">
      </a>
      <a href="https://se.linkedin.com/pub/pedro-björn/4b/732/741" class="vb-btn-icon ">
        <img src="../../img/icons/linkdin_icon_64.jpg" alt="Smiley face" width="48px" height="48px">
      </a>
    </ul>
  </article>
  <footer>
    <div class="text-center">
      <p>Made by Pedro Bj&#246;rn </p>
      <p>&copy; 2015 visualbear All Rights Reserved.</p>
    </div>
  </footer>
</section>