<article class="outer-container">
	<a href="http://www.may1reboot.com/">
		<img class="absolute-corner" src="../../img/icons/may_one_participating_corner_banner_512.png" alt="May First">
	</a>
	<div class="inner-container">
		<div class="row">
			<div class="jumbo-text">
				<p><a href="#me" class="highlight"   onclick="scroller('about')">Pedro Björn.</a>
				<!-- <p>Stockholm based.</p> -->
				<p><a href="#visual" class="highlight"  onclick="scroller('gallery')">Visual designer.</a></p>
				<p><a href="#hello" class="highlight"  onclick="scroller('contact')">Say hello!</a></p>
			</div>
		</div>
	</div>
</article>