<article class="diagram-body" id="gallery">
  <div class="row">
      <div class="col-xs-12 gallerytile ">
      <a href="pretty-ugly-data" class=" center">
        <span class="gallery-image v-align" id="prettyugly" >
          <div class="image-block  box">
           <h0> Pretty Ugly Data
            <small>Web Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile ">
      <a href="cop-a-feel" class=" center">
        <span class="gallery-image v-align" id="barbus" >
          <div class="image-block  box">
            <h0>Cop a Feel
            <small>Album Art</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="dukebox" class=" center">
        <span  class="gallery-image v-align" id="dukebox">
          <div class="image-block  box">
            <h0>Dukebox
            <small>Album Art</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="visualbear" class=" center">
        <span   class="gallery-image v-align" id="visualbear">
          <div class="image-block box">
           <h0> Visualbear
            <small>Brand Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="ad-hops" class=" center">
        <span class="gallery-image v-align"  id="adhop">
          <div class="image-block box">
            <h0>Ad Hops
            <small>Brand Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
    <div class="col-xs-12 gallerytile">
      <a href="projecto-lynx" class=" center">
        <span  class="gallery-image v-align"  id="lynx">
          <div class="image-block  box">
            <h0>Projecto Lynx
            <small>Logo Design<small>
            </h0>
          </div>
        </span>
      </a>
    </div>
<!--     <div class="col-xs-12 gallerytile">
      <a href="sons-of-satyr" class=" center">
        <span  class="gallery-image v-align"  id="sos">
          <div class="image-block  box">
           <h0>Sons of Satyr
            <small>Logo Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div> -->
  </div>
</article>
