<article class="gallery-text">
  <small  class="page-header">Organisms</small>
  <div class="text-block">
    <h4 class="page-header">Navigation Header</h4>
    <div class="navbar col-sm-12" role="navigation" style="z-index: 999">
      <li class="col-md-12 ">
        <a class="navbar-brand">
          <img src="../../img/icons/logo_default.svg" alt="home" height="32px" width="32px">
        </a>
        <!--<button type="button"
        class="btn vb-btn  pull-right"
        data-toggle="offcanvas"
        data-target=".navmenu">
        <span>toggle menu</span>
        </button>-->
        <!--<button type="button" class="btn vb-btn-text  pull-right" data-toggle="offcanvas" data-target=".navmenu">
        Menu
        </button>-->
        <!--<button type="button" class="btn vb-btn pull-right" data-toggle="offcanvas" data-target=".navmenu">
        <i class="fa fa-bars fa-lg"></i>
        <span class="bt-menu">
          Menu
        </span>
        </button>-->
        <button type="button" class="btn vb-btn bar pull-right">
        <!--<i class="fa fa-bars fa-lg"></i>-->
        <span class="bar"></span>
        </button>
      </li>
    </div>
  </div>
  <div class="text-block">
    <h4 class="page-header">Navigation Menu</h4>
    <nav class="navmenu" role="navigation">
      <ul id="close">
        <button type="button" class="btn vb-btn-dark pull-right">
        <!--<i class="fa fa-close fa-lg"></i>-->
        <b>X</b>
        </button>
        <!--<button type="button" class="btn vb-btn-text-dark  pull-right" data-toggle="offcanvas" data-target=".navmenu">
        Close
        </button>-->
      </ul>
      <ul id="links" class=" center">
        <span class="v-align">
          <div class="box">
            <div class="navigation">
              <a  class="inactive" id="link">
                <li>
                  Home
                </li>
              </a>
              <a  class="inactive" id="link">
                <li>
                  Work
                </li>
              </a>
              <a class="inactive" id="link">
                <li>
                  About
                </li>
              </a>
              <a class="inactive" id="link">
                <li>
                  Contact
                </li>
              </a>
            </div>
            <div class="socialContainer">
              <a  class="vb-btn-icon " id="follow-button" title="Follow @pedrobjorn on Twitter">
                <img src="../../img/icons/twitter_icon_64.jpg" alt="Smiley face">
              </a>
              <a class="vb-btn-icon "  id="follow-button" title="See Behance">
                <img src="../../img/icons/behance_icon_64.jpg" alt="Smiley face">
              </a>
              <a class="vb-btn-icon " id="follow-button" title="See linkedin">
                <img src="../../img/icons/linkdin_icon_64.jpg" alt="Smiley face">
              </a>
            </div>
          </div>
        </span>
      </ul>
    </nav>
  </div>
  <div class="text-block ">
    <h4 class="page-header" id="galleryimg">Image Link </h4>
    <div class="gallerytile">
      <a  href="#galleryimg"class=" center">
        <span class="gallery-image v-align" id="visualbear" >
          <div class="image-block box">
            <h0> Visualbear
            <small>Brand Design</small>
            </h0>
          </div>
        </span>
      </a>
    </div>
  </div>
  <div class="text-block ">
    <h4 class="page-header" id="galleryimg"> Gallery Header</h4>
    <div class="image_container">
      <div  class=" center">
        <span   class="header-image v-align" id="visualbear">
          <div class=" header-block box">
            <h0>Visualbear</h0>
            <h3 class="subtitle">Brand Design</h3>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="text-block ">
    <h4 class="page-header" id="galleryimg"> Text Container</h4>
    <div class="container">
      <div class="gallery-text">
        <p>The objective was to define an identity for my web presence,
          but also as an excercise in designing an identity, from logo to website,
        with an element of freedom.</p>
        <p>Focusing on the central aspect of "björn" (bear in Swedish, and also my last name),
          the emphasis on the word "bear" and the logo tie it all together.
          The dark grey contrasting with the blue are selected due to their contrast that's
        less harsh than simply black on white.</p>
      </div>
    </div>
  </div>
  <div class="text-block">
    <h4 class="page-header" id="galleryimg">Secondary Container</h4>
    <div class="secondary-container">
      <div class="text-container row">
        <h3 class="page-header">
        Pretty Ugly Data
        <small>Displaying Data in a minimal way</small>
        </h3>
        <div class="col-md-6">
          <p>This project uses real world data to create colourful, abstract forms.</p>
          <p>Developed over the span of one week, the objective was to try to take important, dry data and give it new life.</p>
          <p>This is the first of many projects that hope to take otherwise boring data and present it in a more interesting and engaging manner.</p>
        </div>
        <div class="col-md-6">
          <p><i>Hint: Don't move the mouse to hide information</i></p>
          &nbsp;
          <p>Data sources from:</p>
          <p><a href="#galleryimg" target="_blank">Quandl</a></p>
          <p>Built using:</p>
          <ul>
            <li><a href="#galleryimg" target="_blank">jQuery</a></li>
            <li><a href="#galleryimg" target="_blank">Bootstrap</a></li>
            <li><a href="#galleryimg" target="_blank">D3 - Data Driven Documents</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-block ">
    <h4 class="page-header" id="galleryimg">Footer</h4>
    <section class="text-block foot">
      <article class="foot">
        <ul class="socialContainer">
          <a id="follow-button" class="vb-btn-icon " title="Follow @pedrobjorn on Twitter">
            <img src="../../img/icons/twitter_icon_64.jpg" alt="Smiley face" width="48px" height="48px">
          </a>
          <a  class="vb-btn-icon ">
            <img src="../../img/icons/behance_icon_64.jpg" alt="Smiley face" width="48px" height="48px">
          </a>
          <a  class="vb-btn-icon ">
            <img src="../../img/icons/linkdin_icon_64.jpg" alt="Smiley face" width="48px" height="48px">
          </a>
        </ul>
        <footer>
          <div class="text-center">
            <p>Made by Pedro Bj&#246;rn </p>
            <p>&copy; 2015 visualbear All Rights Reserved.</p>
          </div>
        </footer>
      </article>
      <section>
      </div>
    </article>